<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">

        var ws = null;
        function connect(){
            var wsUri = (window.location.protocol == 'https:' ? 'wss://' : 'ws://') + window.location.host;
            console.log(wsUri);
            ws = new WebSocket(wsUri);

            ws.onopen = function(e) {
                $('#status').html("Connected</br>");
            }
            ws.onclose = function(e) {
                $('#status').html("Disconnected</br>");
            }
            ws.onmessage = function(e) {
                var msg = JSON.parse(e.data);
                var now = new Date();
                if(msg.type == "user"){
                    var tmp = "";
                    for(const x in msg.name_list){
                        tmp += msg.name_list[x] + " ";
                    }
                    $('#namelist').html("Online Users (" + msg.name_list.length + "): " + tmp)
                    $('#chat').append( "[" + now.toLocaleString() + "] " + msg.nickname + " Connected</br>" );
                    $('#chat').scrollTop($('#chat').prop('scrollHeight') + 1000);
                }
                else if(msg.type == "disconnect"){
                    var tmp = "";
                    for(const x in msg.name_list){
                        tmp += msg.name_list[x] + " ";
                    }
                    $('#namelist').html("Online Users (" + msg.name_list.length + "): " + tmp)
                    $('#chat').append("[" + now.toLocaleString() + "] " + msg.nickname + " Disconnected</br>");
                    $('#chat').scrollTop($('#chat').prop('scrollHeight') + 1000);
                }
                else if(msg.type == "received"){
                    $('#chat').append("[" + now.toLocaleString() + "] " + msg.nickname + ": " + msg.message + "</br>");
                    $('#chat').scrollTop($('#chat').prop('scrollHeight') + 1000);
                }
            }
        }
        connect();
    </script>
</head>
<body>
    <div id="status"></div>
    <div id="namelist"></div>
    <div id="chat" style="overflow:scroll; width:600px; height:450px">
    </div>
    <input id="text" type="text" />
    <button id="send">SEND</button>
</body>

<script type="text/javascript">
        function send(){
            ws.send($('#text').val());
            $('#text').val('');
            $('#chat').scrollTop($('#chat').prop('scrollHeight') + 1000);
        }

        $('#send').click(function (){
            send();
        });

        $("#text").keydown(function (key){
            if(key.keyCode == 13) {
                send();
            }
        });

</script>

</html>